.cards {
  height: 100%;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card {
  width: 12rem;
  height: 15rem;
  display: flex;

  margin: 1rem;

  flex-direction: column;
  align-items: center;

  transition: ease-in-out 0.5s;
}

.card:hover {
  -webkit-transform: translate(-0.6rem, -0.6rem);
  -moz-transform: translate(-0.6rem, -0.6rem);
  -ms-transform: translate(-0.6rem, -0.6rem);
  -o-transform: translate(-0.6rem, -0.6rem);
  transform: translate(-0.6rem, -0.6rem);

  box-shadow: 
    var(--shadow-card-strong) 0.4rem 0.4rem,
    var(--shadow-card) 0.8rem 0.8rem,
    var(--shadow-card-weak) 1.2rem 1.2rem;
}

.card--flat {
  width: 16rem;
  height: 8rem;
}

.card__picture {
  width: 8rem;
  height: 8rem;

  margin: auto;
}

.card__name {
  min-height: 2rem;

  margin: auto;

  font-weight: 600;
  font-size: 1.2rem;
}

.card__name--bottom {
  margin-top: auto;
  margin-bottom: 1rem;
}