.submit-button {
  font-size: 1.5rem;
  font-weight: 600;

  padding: 0.5rem;

  background-color: var(--background-highlight);
  border-color: var(--border-highlight);
  border-radius: 0.8rem;
  border-width: 0.3rem;
}