.plate-form {
  width: min(60%, 25rem);
}

.license-plate__number {
  width: 20rem;
  height: 5rem;

  padding-left: 3rem;
  margin-top: 1rem;

  font-size: 3rem;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1rem;

  background-image: url("../../assets/licensePlate.svg");
  background-size: cover;
  background-color: none;
  background-color: var(--background-bright);
  border-radius: 0.5rem;
  border: none;
}
