@import "../colors.css";

.informations {
  display: flex;
  height: calc(100% - 0.2rem);

  justify-content: center;
  gap: 4rem;

  border-top: 0.2rem ridge var(--border-separate);
}

.informations__item {
  display: table;
}

.informations__name {
  display: table-cell;

  color: var(--text-bright);
  vertical-align: middle;
}
