<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car insurance</title>
  <meta name="description" content="Poistenie Vášho vozidla za najlepšiu cenu na trhu!">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="./assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/normalize.css">

  <link rel="stylesheet" href="css/styles/logo.css">
  <link rel="stylesheet" href="css/styles/contact.css">
  <link rel="stylesheet" href="css/styles/container.css">
  <link rel="stylesheet" href="css/styles/checkpoints.css">
  <link rel="stylesheet" href="css/styles/information.css">
  <link rel="stylesheet" href="css/styles/informations.css">
</head>
<body>
  <div class="container">
    <header class="container__header">
      <img class="logo" src="./assets/logo.svg" alt="logo"/>
      <nav class="checkpoints">
        <a href="#" class="checkpoints__item checkpoints__item--current">
          <span class="checkpoints__name checkpoints__name--big">Informácie</span>
        </a>
      </nav>
    </header>
    <main class="container__main">
      <div class="information-block information-block--faded">
        <span class="information-block__title">Kontakty</span>
        <ul class="contacts">
            <li class="contact">
              <img class="contact__image" src="./assets/contacts/adress.svg" alt="Adresa">
              <span class="contact__info contact__info--bottom">Botanická 3, 974 01, Banská Bystrica</span>
            </li>
            <li class="contact">
              <img class="contact__image" src="./assets/contacts/phone.svg" alt="Telefon">
              <span class="contact__info contact__info--bottom">+421 987 654 321 (NONSTOP)</span>
            </li>
            <li class="contact">
              <img class="contact__image" src="./assets/contacts/mail.svg" alt="Email">
              <span class="contact__info contact__info--bottom">info@carinsurance.sk</span>
            </li>
        </ul>
      </div>
      <div class="information-block">
        <span class="information-block__title">O nás</span>
        <p>Sme slovenská pobočka zahraničnej poisťovne Car insurance - poisťovňa motorových vozidiel s dlhoročnou praxou a najnižšími cenami na trhu. Svojim klientom ponúkame vysoký štandard služieb preverených dlhodobými medzinárodnými skúsenosťami s dôrazom na kvalitný poisťovací servis.</p>
      </div>
      <div class="information-block information-block--faded">
        <span class="information-block__title">GDPR</span>
          <p>Poisťovni Car insurance - Slovenská pobočka, a.s. záleží na riadnom spracúvaní osobných údajov. Ochrana osobných údajov našich klientov, ako aj všetkých dotknutých osôb, je pre nás dôležitá téma. Naše spoločnosti postupujú v oblasti ochrany osobných údajov vždy v súlade s platnými právnymi predpismi, ako aj medzinárodnými štandardami (najmä nariadenie Európskeho parlamentu a rady (EÚ) 2016/679 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom pohybe takýchto údajov a zákon č. 18/2018 Z.z. o ochrane osobných údajov a o zmene a doplnení niektorých zákonov). Vaše práva môžete uplatniť jedným z nasledujúcich spôsobov:</p>
          <p>Na e-mailovej adrese gdpr@carinsurancesk.sk</p>
          <p>Písomne alebo osobne na adrese našej pobočky (Botanická 3, 974 01, Banská Bystrica).</p>
      </div>
    </main>
    <footer class="container__footer">
      <nav class="informations">
        <a href="#" class="informations__item">
          <span class="informations__name">Contact us</span>
        </a>
        <a href="#" class="informations__item">
          <span class="informations__name">Our company</span>
        </a>
        <a href="#" class="informations__item">
          <span class="informations__name">GDPR</span>
        </a>
      </nav>
    </footer>
  </div>
</body>
</html>