<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car insurance</title>
  <meta name="description" content="Poistenie Vášho vozidla za najlepšiu cenu na trhu!">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="./assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/normalize.css">

  <link rel="stylesheet" href="css/styles/logo.css">
  <link rel="stylesheet" href="css/styles/form.css">
  <link rel="stylesheet" href="css/styles/container.css">
  <link rel="stylesheet" href="css/styles/checkpoints.css">
  <link rel="stylesheet" href="css/styles/licensePlate.css">
  <link rel="stylesheet" href="css/styles/informations.css">
  <link rel="stylesheet" href="css/styles/vehicleParameters.css">
</head>
<body>
  <div class="container">
    <header class="container__header">
      <img class="logo" src="./assets/logo.svg" alt="logo"/>
      <nav class="checkpoints">
        <a href="#" class="checkpoints__item checkpoints__item--active checkpoints__item--hidden">
          <span class="checkpoints__name">Druh vozu</span></a>
        <a href="#" class="checkpoints__item checkpoints__item--active">
          <span class="checkpoints__name">Využitie vozu</span>
        </a>
        <a href="#" class="checkpoints__item checkpoints__item--current">
          <span class="checkpoints__name">Parametre vozu</span>
        </a>
        <a href="#" class="checkpoints__item checkpoints__item--inactive">
          <span class="checkpoints__name">Majiteľ vozu</span>
        </a>
        <a href="#" class="checkpoints__item checkpoints__item--inactive checkpoints__item--hidden">
          <span class="checkpoints__name">Typ poistenia</span>
        </a>
      </nav>
    </header>
    <main class="container__main">
      <form class="form form--centred plate-form">
        <label class="form__label" for="license-plate">Nájdenie SPZ:</label>
        <input class="license-plate__number" type="text" maxlength="7" minlength="7" id="license-plate"/>
        <span class="form__error">*Nebolo možné nájsť zadanú SPZ.</span>
        <button class="form__submit" type="submit">Submit</button>
      </form>
      <form class="form parameters-form">
        <label class="form__label">
          Objem motora v ml:
          <input class="form__input" type="number" name="cylinder-volume">
        </label>
        <span class="form__error">*Zadaná hodnota musí byť celé číslo.</span>
        <label class="form__label">
          Výkon motora v kw:
          <input class="form__input" type="number" name="power">
        </label>
        <span class="form__error">*Je nutné zadať hodnotu.</span>
        <label class="form__label">
          Pôvodná cena v €:
          <input class="form__input" type="number" name="price">
        </label>
        <span class="form__error">*Zadaná hodnota musí byť celé číslo.</span>
        <label class="form__label">
          Dátum výroby vozu:
          <input class="form__input" type="date" name="creation-date">
        </label>
        <span class="form__error">*Zadaný dátum musí byť z minulosti.</span>
        <button class="form__submit" type="submit">Submit</button>
      </form>
    </main>
    <footer class="container__footer">
      <nav class="informations">
        <a href="#" class="informations__item">
          <span class="informations__name">Contact us</span>
        </a>
        <a href="#" class="informations__item">
          <span class="informations__name">Our company</span>
        </a>
        <a href="#" class="informations__item">
          <span class="informations__name">GDPR</span>
        </a>
      </nav>
    </footer>
  </div>
</body>
</html>