:root {
  /* Background colors */
  --background-default: #F5F5FF;
  --background-dark: #334;
  --background-bright: #FFF;
  --background-highlight: #F8B;

  /* Text colors */
  --text-default: #000;
  --text-bright: #DDD;
  --text-inactive: #777;
  --text-error: #F06;

  /* Border colors */
  --border-current: #E0A;
  --border-separate: #DDD;
  --border-highlight: #E7A;

  /* Shadows */
  --shadow-dark: rgba(48, 48, 64, 0.5);
  --shadow-card: rgba(248, 8, 168, 0.5);
  --shadow-card-weak: rgba(240, 0, 160, 0.4);
  --shadow-card-strong: rgba(256, 16, 176, 0.6);
}