@import "../../utils/css/colors.css";

.information-block {
  width: min(60%, 60rem);

  margin: 0.8rem auto;
  padding: 1rem;

  font-weight: 600;

  background-color: ivory;
  border-radius: 1rem;
  box-shadow: var(--shadow-dark) 0.5rem 0.5rem;
}

.information-block--faded {
  filter: opacity(40%);
}

.information-block__title {
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-align: center;
}

.informations__name {
  display: table-cell;

  color: var(--text-bright);
  vertical-align: middle;
}

.information-block__item-title {
  margin: 0 0 0.75rem 0;
  font-weight: 700;
}

.information-block__item-body {
  margin: 0 0 0.75rem 0;
}

.information-block__price {
  margin-top: 4rem;
}

.information-block__pdf {
  color: blue;
}

.information-block__pdf:hover {
  color: red;
}

.information-block__pdf:visited {
  color: purple;
}
