html
  head
    style
        | table { width: 100%; }
        | tale th, table td { width: 50%; }
  body
    table
        tbody
            tr
                th Vehicle type
                td=offer.vehicleType