<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./pdf-style.css">
</head>
<body class>
    <header>
        <img class="logo" src="../assets/logo.svg" alt="Logo poistovne">
        <h1 class="header-title">Naša ponuka pre Vás:</h1>
    </header>
    <main class="summary">
        <p>
            <span class="summary__item-title">Typ vozidla: </span> 
            <span class="summary__item-body">Auto</span>
        </p>
        <p>
            <span class="summary__item-title">Využitie vozidla: </span> 
            <span class="summary__item-body">Bežné</span>
        </p>
        <p>
            <span class="summary__item-title">Objem valcov: </span> 
            <span class="summary__item-body">123 cm³</span>
        </p>
        <p>
            <span class="summary__item-title">Maximálny výkon: </span> 
            <span class="summary__item-body">456 kW</span>
        </p>
        <p>
            <span class="summary__item-title">Kúpna cena: </span> 
            <span class="summary__item-body">789 €</span>
        </p>
        <p>
            <span class="summary__item-title">Dátum výroby: </span> 
            <span class="summary__item-body">01.01.2010</span>
        </p>
        <p>
            <span class="summary__item-title">Dátum narodenia: </span> 
            <span class="summary__item-body">01.01.2000</span>
        </p>
        <p>
            <span class="summary__item-title">Dátum získanie VO/VP: </span> 
            <span class="summary__item-body">01.01.2005</span>
        </p>
        <p>
            <span class="summary__item-title">Mali ste nehodu za posledné 3 roky?: </span> 
            <span class="summary__item-body">Áno</span>
        </p>
        <p>
            <span class="summary__item-title">Typ poistenia: </span> 
            <span class="summary__item-body">Havarijné</span>
        </p>
        <p class="summary__item-price">
            <span class="summary__item-title">ROČNÁ CENA: </span>
            <span class="summary__item-body">333 €</span>
        </p>
        <p class="summary__item-body">
            Pokiaľ si prajete uzavrieť s nami dané poistenie, kontaktujte nás prosím cez nižšie uvedené kontakty.
        </p>
    </main>
    <footer>
        <span class="contacts-title">Kontakty:</span>
        <ul class="contacts">
            <li class="contact">
                <img class="contact__image" src="../assets/address.svg" alt="Adresa">
                <span class="contact__info contact__info--bottom">Botanická 3, 974 01, Banská Bystrica</span>
            </li>
            <li class="contact">
                <img class="contact__image" src="../assets/phone.svg" alt="Telefon">
                <span class="contact__info contact__info--bottom">+421 987 654 321 (NONSTOP)</span>
            </li>
            <li class="contact">
                <img class="contact__image" src="../assets/mail.svg" alt="Email">
                <span class="contact__info contact__info--bottom">info@carinsurance.sk</span>
            </li>
        </ul>
    </footer>
    
</body>
</html>